TELEGRAM_TOKEN=your_bot_token
CRYPTOBOT_TOKEN=your_crypto_bot_token
WEBHOOK_URL=https://yourdomain.northflank.app/webhook

LIFE_CHANNEL_ID=-1002741506579
VIP_CHANNEL_ID=-1001234567890
LUXARY_CHANNEL_ID=-1002808420871
CHAT_GROUP_ID=-1002813332213
LOG_CHANNEL_ID=-1001234567890  # лог-канал для ошибок и событий
LIFE_URL=https://t.me/JuisyFoxOfficialLife
