TELEGRAM_TOKEN=your_bot_token
CRYPTOBOT_TOKEN=your_crypto_bot_token
WEBHOOK_URL=https://yourdomain.northflank.app/webhook
NORTHFLANK_API_TOKEN=your_token_here
NORTHFLANK_PROJECT_ID=your_project_id
NORTHFLANK_SERVICE_ID=your_service_id
VIP_CHANNEL_ID=-1002756750911
VIP_URL=https://t.me/+VKO7ggpmyHk1OTRl
LIFE_CHANNEL_ID=-1002741506579
LIFE_URL=https://t.me/JuisyFoxOfficialLife
LUXURY_CHANNEL_ID=-1002808420871

POST_PLAN_GROUP_ID=-1002825908735
CHAT_GROUP_ID=-1002813332213
LOG_CHANNEL_ID=-1002828644255
